@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

*{font-family: 'Poppins', sans-serif;

}
.navbar{
    position:sticky !important;
    top:0;
    z-index:10;
}
.navbar-brand{
    font-size:30px;
    font-weight:bold;
    color:black;
}
li{
    padding: 5px;
}
.nav-link:hover{
    text-decoration: underline;
}
.nav-link{
    color:white;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

span{
    color:blue;
    font-weight:bold;
}
p{
    font-size:18px;
}
.ab-us{
    font-size:50px;
}

img{
    width: 25rem;
    height: 25rem;
}
#services a{
    margin: 0;padding: 0;
    text-decoration:none;
}
.card img{
    transition: 1s;
}
.inner{
    overflow: hidden;
}
.card img:hover{
    transform: scale(1.1);
   
}
@media (max-width:750px){
    #services{
        margin-top: 130% !important;
    }
    #contact{
        padding-top: 170% !important;
    }
}
@media (max-width:380px){
  section{
      padding-top: 40%;
  }
  #about{
      padding-top: 90%;
  }
  #services{
      padding-top: 190%;
  }
  #contact{
      padding-top: 350% !important;
  }
}

